html, body, p{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: dodgerblue;
    display: block;
}

.header a:hover {
    color: deepskyblue;
}

.header .header-badge{
    font-size: 1.6em;
    margin-left: 12px;
}

.header-user {
    font-size: 1.2em;
    margin-right: 18px;
}

.header-fixed {
    height: 200px;
    background: orange;
}

.section {
    padding: 12px;
    background: yellow;
}

/* 表格样式 */
.table {
    width: 100%;
}
a{
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}
a:hover {
    color: darkgray;
}

.table thead{
    font-weight: bold;
}
.table tr{
    display: flex;
}
.table tr.table-selected {
    background: lightgray;
}
.table input[type='text'] {
    width: 100%;
    background: transparent;
    border: 0;
}
.green-true, .green-false, .yellow-true, .yellow-false, .red-true, .red-false, .no-true, .no-false{
    color: white;
    border-radius: 2px;
    padding: 0 4px;
    margin: 0 2px;
    font-size: 0.8em;
}

.green-false, .yellow-false, .red-false, .no-false {
    color: gray;
}

.green-true {
    background: green;
}
.yellow-true {
    background: orange;
}
.red-true {
    background: orangered;
}
.no-true {
    background: lightgray;
}

.table-user-school td:nth-child(1){
    width: 22px;
}
.table-user-school td:nth-child(2){
    width: 72px;
}
.table-user-school td:nth-child(3){
    width: 300px;
}
.table-user-school td:nth-child(4),.table-user-school td:nth-child(5){
    width: 20px;
    flex-grow: 1;
}
/* data-control */
.data-control input[type='text']{
    width: 300px;
}

/* 提示信息 */
.msg-info,.msg-error {
    margin: 2px 4px;
    color: white;
    font-size: 0.8em;
    padding: 2px 12px;
}
.msg-info {
    background-color: dodgerblue;
}
.msg-error {
    background-color: orangered;
}

/*卡片*/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: aquamarine;
    border: 1px orangered solid;
}

.card a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 1.2em;
    display: block;
}

.card a:hover {
    color: deepskyblue;
}

.card a:active{
    color: red;
}

.card .card-body {
    margin-top: 80px;
    height: 60%;
    background-color: rgba(123, 44, 56, 0.1);
}

.card .card-title{
    padding: 0 10px;
}

.card .card-content{
    padding: 5px;
    font-size: 0.95em;
    line-height: 1.6em;
}

.card mark{
    padding: 0 4px;
    font-size: 0.9em;
    border-radius: 2px;
}

/* 导航 */
.navigator {
    padding: 6px 12px;
    display: flex;
}

.navigator .selected {
    background: deepskyblue;
    color: white;
    border-radius: 4px;
    padding: 0 2px;
}

.navigator-first {
    width: 0;
    flex-grow: 1;
}

.navigator-second {
    width: 120px;
    flex-grow: 0;
}

.navigator span {
    font-size: 0.9em;
    font-weight: bold;
}